
<!-- <app-weather-widget-main></app-weather-widget-main> -->
<div class="container">
    <!-- <app-forecast></app-forecast>-->
    <app-today></app-today> 
    <!-- <div>
        <form class="example" action="" style="margin:auto;max-width:300px">
         <input type="text" placeholder="tadaaaaaa" name="search2">
         <button type="submit"><i class="fa fa-search"></i></button>
       </form>
     </div> -->
     <button type="submit"><i class="fa fa-search"></i></button>
    <!-- <input type="text" ngx-google-place (onSelect)="onAddressChange($event)"> -->
<!-- <h1>Helloooo</h1> -->

</div>

