      <!-- <div class="row">
        <input type="text" #userInput placeholder="Enter city">
        <div>
        </div>
          <button (click)="getCity(userInput.value)"></button>
          <h1>{{weather.main.temp}}°</h1>
          <h2>tada</h2>
        </div> -->

  
      

 <div id="coverToday">
   <div class="row">
     <div id="main-temp">{{weather.main.temp}}°</div>
       <div> 
         <img  src="https://image.flaticon.com/icons/svg/869/869869.svg" margin-right="100%" margin-top="10%" padding= "10px" alt="hiiiiiiiiii" width="50%" height="50%" float="left">
        
       
       </div>
     </div>
   </div>
 




