<div class="row">
    <!-- <input type="text" #userInput placeholder="Enter city"> -->
    <div>
    </div>
    <div class="topnav">
    <div class="search-container" >
      <!-- <button (click)="getCity(userInput.value)" type="submit"><i class="fa fa-search"></i></button> -->
      <button  type="submit"><i class="fa fa-search"></i></button>
    </div>
  </div>
      <!-- <h1>{{weather.main.temp}}°</h1> -->
      <!-- <h2>tada</h2> -->
      
    </div>
      <div><i class="fas fa-map-marker-alt"></i></div>
    <!-- search bar -->
    <div id="cover">
      <form method="get" action="">
        <div class="tb">
          <div class="td"><input type="search" placeholder="City Name"></div>
          
          <!-- <div class="td" id="s-cover"> -->
            <button type="submit">
              <!-- <div id="s-circle"></div> -->
              
              <i class="fa fa-search" id="color_bl"></i>
              <!-- <span></span> -->
            </button>
          <!-- </div> -->
        </div>
      </form>
    </div>

    <!-- <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
      <input type="text" placeholder="Search.." name="search2">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form> -->
<div id="fiveDays" >
    <div class="row">
<!-- <h2>{{weather.message}}</h2> -->
      <div id="textN">Sunday
        <div class="row">
        <div id="temp1">28*</div>
          <div id="temp2  ">  19* </div>
        </div>
          <div><img  src="https://image.flaticon.com/icons/svg/869/869869.svg" margin-right="100%" margin-top="10%" padding= "10px" alt="hiiiiiiiiii" width="50%" height="50%" float="left">
            <div>Cloudy
        
            </div>
          </div>
        
      </div>

      
      <div>Mondday
        <div>28*
          <div><img  src="https://image.flaticon.com/icons/svg/869/869869.svg" margin-right="100%" margin-top="10%" padding= "10px" alt="hiiiiiiiiii" width="50%" height="50%" float="left">
            <div>Cloudy
        
            </div>
          </div>
        </div>
      </div>

      
      <div>Tuesday
        <div>20*
          <div><img  src="https://image.flaticon.com/icons/svg/869/869869.svg" margin-right="100%" margin-top="10%" padding= "10px" alt="hiiiiiiiiii" width="50%" height="50%" float="left">
            <div>Cloudy
        
            </div>
          </div>
        </div>
      </div>

      
      <div>Sunday
        <div>28*
          <div><img  src="https://image.flaticon.com/icons/svg/869/869869.svg" margin-right="100%" margin-top="10%" padding= "10px" alt="hiiiiiiiiii" width="50%" height="50%" float="left">
            <div>Cloudy
        
            </div>
          </div>
        </div>
      </div>
      

     </div>
    </div>

    <div><i class="fas fa-cloud" style="font-size:24px;"></i></div>