<div class="container">
   
    <h1 class="text-center p-2 mb-2 mt-4 bg-info text-white " >Urban Home Service Dashboard</h1>
<div class="login-form">
    <form action="" method="post">
		<div class="avatar">
			<img src="../../../assets/img_avatar.png" alt="Avatar">
		</div>
        <h2 class="text-center">Member Login</h2>   
        <div class="form-group">
        	<input type="text" class="form-control" name="username" placeholder="Username" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>        
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
        </div>
		<div class="bottom-action clearfix">
            <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
            <a href="#" class="float-right text-info">Forgot Password?</a>
        </div>
    </form>
    <p class="text-center small">Don't have an account? <a routerLink="register" class="text-info">Register here!</a></p>
</div>
</div>