
<app-nav-bar></app-nav-bar>
  <!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">My Services</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
            class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th class="text-center">Service Name</th>
            <th class="text-center">Cost</th>
            <th class="text-center">Locality</th>
            <th class="text-center">Total Services Provided</th>
            <th class="text-center">Other Specification</th>
            <th class="text-center">Action</th>
            <th class="text-center">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let myService of collection">
            <td class="pt-3-half" contenteditable="true">{{myService.id}}</td>
            <td class="pt-3-half" contenteditable="true">{{myService.title}}</td>
            <td class="pt-3-half" contenteditable="true">{{myService.locality}}</td>
            <td class="pt-3-half" contenteditable="true">{{myService.cost}}</td>
            <td class="pt-3-half" contenteditable="true">{{myService.remarks}}</td>
            <td><a routerLink="/addService/{{myService.id}}">
              <i class="fa fa-edit"  style="font-size:35px;color:blue">
              </i>
            </a> &nbsp;
              <a routerLink="/Home/{{webService.id}}">
              <i class="fa fa-remove" style="font-size:35px;color:red"></i></a>
            </td>
            
            
          </tr>
          <!-- This is our clonable table line -->
          <tr>
           
            <td class="pt-3-half">
              <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                    aria-hidden="true"></i></a></span>
              <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                    aria-hidden="true"></i></a></span>
            </td>
            
          </tr>
          <!-- This is our clonable table line -->
          
          <!-- This is our clonable table line -->
          
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->